.app {
  padding: 1em;
}

.social-icons {
    list-style-type: none;
  }

.social-img {
  max-width: 2em;
}

#logo {
  max-width: 10em;
}

@media (min-width: 825px) {
  .app {
    max-width: 50em;
  }
  #logo {
    max-width: 20em;
  }
}
